:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

/* Скидываем стили для всех элементов */
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

/* Цвет текста на все тело */
body {
    background-color: #FFFFFF;
    color: #434455;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1208px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0 auto;
}

/*Убираем точки возле текста */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}


.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Почему не работает ? */
.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}
/* Логотип */
.header-logo {
    margin-right: 76px;
    color: #4D5AE5;

    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    
}


.header-logo-accent {
    color:#2E2F42;
}

/* Стилизирование кнопок */
.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-item:not(:last-child) {
    margin-right: 40px;
}

.navigation-link {
    color: #2E2F42;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
    color: #404BBF;
}

/* Контактная информация */
.address {
    font-style: normal;
}

.address-list {
    display: flex;
    margin-left: auto;
}

.address-link {
    color: #434455;
    
}


.address-link:hover,
.address-link:focus,
.address-link:active {
    color:#404BBF;
}

/* Главная секция страницы */

.hero {
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    color: #FFFFFF;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

    margin-bottom: 48px;

}

.hero-button {
    margin-bottom: 188px;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    color: #FFFFFF;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: #404BBF;
    color: #FFFFFF;

}

/* Стилизация всех главных заголовков
.section-title {
    color: #2E2F42;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
} */


/* Features */
.features-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-title {
    display: none;
}

.features-list-title {
    color: #2E2F42;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
 /* We doing */
.we-doing-section {
    padding-bottom: 120px;
}

.we-doing-section-title {
    margin-bottom: 72px;
}

/* Team-list */
.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-section-title {
    margin-bottom: 72px;
}

.team-card-list {
    background-color: #FFFFFF;
}

.team-card-title {
    color: #2E2F42;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* Portfolio */
.portfolio-title {
    display: none;
}


/* Button Portfolio */
.portfolio-btn-link {
    display: inline-block;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 78px;
    text-align: center;

    border-color: #E7E9FC;
    background-color: #F4F4FD;
    color: #4D5AE5;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.portfolio-btn-link:hover,
.portfolio-btn-link:focus {
    border-color: #404BBF;
    background-color: #404BBF;
    color: #FFFFFF;

}
 /* Portfolio list */
.portfolio-list {
    color: #2E2F42;
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}


.portfolio-link-title {
    margin-bottom: 8px;
    color: #2E2F42;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;   
}

.portfolio-link-text {
    color: #434455;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* Футер */
.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo-link { 
    color: #4D5AE5;
    margin-bottom: 16px;
    
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;

}


.footer-logo-accent {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
}
